name: CI
on:
  push:
    branches: [ main ]
  pull_request:

env:
  # Global Go version for linting and utility steps
  GO_VERSION: "1.23"

jobs:
  go-mod:
    name: Check Go Mod
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Check go mod
        run: |
          go mod tidy
          git diff --exit-code go.mod

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0
          skip-cache: true

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ "1.23" ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Run Tests
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.txt
          env_vars: GO
          token: ${{ secrets.CODECOV_TOKEN }}
        env:
          GO: ${{ matrix.go }}
