name: tests
on:
  push:
  pull_request:

jobs:
  test:
    name: run tests with code coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.23"
          - "1.22"

    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - run: go version

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: go test
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.txt
          env_vars: GO
          token: ${{ secrets.CODECOV_TOKEN }}
        env:
          GO: ${{ matrix.go }}
